.welcome {
    width: 100%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.login {
    margin: 0 auto;
    max-width: 150px;
}

#lastInitial {
    max-width: 100px;
    margin: 0 auto;
}
td {
    background-color: rgb(113, 219, 198);
    width: 100px;
    height: 15px;
    border-right: 1px solid white;
}

tr:nth-child(odd) td{
    border-bottom: 1px solid white;
}

th {
    position: relative;
    top: 10.5px;
    font-size: 10px;
    padding-bottom: 14px;
}

.days {
    padding-bottom: 0px;
    top: -10px;
    font-size: 12px;
}

.selected {
    background-color: rgb(231, 111, 121);
}

.editing {
    background-color: rgb(240, 199, 18) !important;
}

.hovered {
    background-color: rgba(0, 0, 0, 0.4);
}
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(216, 230, 227) !important;
}

h1 {
    font-size: 50px;
    color: rgb(231, 111, 121);
}

.scheduler {
    padding: 20px;
    margin-left: 150px;
    width: 1000px;
    text-align: center;
}

.instructions {
    position: relative;
    margin-left: 280px;
    top: -25px;
    display: block;
    font-size: 16px;
}

.calendar {
    display: inline-block;
    height: 90vh !important;
}

.times {
    padding: 10px !important;
}

.locform {
    position: fixed;
    color: white;
    display: inline-block;
    background: rgb(108, 113, 185);
    padding: 50px;
    margin: auto;
    border-radius: 10px;
}
	
.locform_edit {
    position: absolute;
    color: white;
    display: inline-block;
    background: rgb(108, 113, 185);
    padding: 30px;
    top: 450px;
    margin: auto; 
    border-radius: 10px;
}

.hidden {
    display: none;
}

.geolabel {
    position: absolute;
    color: black;
    display: inline-block;
    padding: 50px;
    margin: auto;
    top: 150px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

#end_location {
    margin-bottom: 20px !important;
}

