body {
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 50px;
    color: blue;
}

.scheduler {
    padding: 20px;
    margin: auto;
    width: 1000px;
    text-align: center;
}

.calendar {
    display: inline-block;
    height: 80vh !important;
}

.times {
    padding: 10px !important;
}