td {
    background-color: pink;
    width: 100px;
    height: 15px;
    border-right: 1px solid white;
}

tr:nth-child(odd) td{
    border-bottom: 1px solid white;
}

th {
    position: relative;
    top: 10.5px;
    font-size: 10px;
    padding-bottom: 14px;
}

.days {
    padding-bottom: 0px;
    top: -10px;
    font-size: 12px;
}

.selected {
    background-color: blue;
}

.editing {
    background-color: orange !important;
}

.hovered {
    background-color: rgba(0, 0, 0, 0.4);
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 50px;
    color: blue;
}

.scheduler {
    padding: 20px;
    margin-left: 150px;
    width: 1000px;
    text-align: center;
}

.instructions {
    margin-left: 280px;
}

.calendar {
    display: inline-block;
    height: 90vh !important;
}

.times {
    padding: 10px !important;
}

.locform {
    position: fixed;
    color: white;
    display: inline-block;
    background: rgb(108, 113, 185);
    padding: 50px;
    margin: auto;
}
	
.locform_edit {
    position: absolute;
    color: white;
    display: inline-block;
    background: rgb(108, 113, 185);
    padding: 30px;
    top: 450px;
    margin: auto; 
}

.hidden {
    display: none;
}

.geolabel {
    position: absolute;
    color: black;
    display: inline-block;
    padding: 50px;
    margin: auto;
    top: 150px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

#end_location {
    margin-bottom: 20px !important;
}